<!DOCTYPE html>
<html>
 
  <head>
    {% include 'inc/header.html' %}
  </head>
 
  <body>
    
    <div class="page-wrapper bg-dark p-t-100 p-b-50">
      <div class="wrapper wrapper--w900">
        
        <form action="/tests" method="POST" onsubmit="return validate_form_test();">

          <div class="card card-6">
            <div class="card-heading">
              <!-- CORPS DE LA PAGE  -->
              {% include 'inc/header_menu.html' %}
            </div>

            {% if personne %}
              <div class="card-body">
                
                <div class="label-row">Ajout de personne: </div>
                
                {% if error %}
                  <div style="color:red;">{{ error }}</div>
                {% endif %}
              
                <div class="form-row">
                  <div class="name">Personne source : </div>
                  <div class="name">{{ personne.nom + ' '+ personne.prenom }}
                    <input type="hidden" id="personne_id" name="personne_id" value="{{ personne.id }}" />
                  </div>
                </div>
                <div class="form-row">
                  <div class="name">Cas suspect ? </div>
                  <div class="name">{{ personne.suspect }}</div>
                </div>

                <div class="form-row">
                  <div class="name">Date du test : </div>
                  <div class="value">
                    <input class="input--style-6" type="text" id="date_test" name="date_test" value="" placeholder="10/04/2020" autocomplete="false"/>
                  </div>
                </div>

                <div class="form-row">
                  <div class="name">Heure du test : </div>
                  <div class="value">
                    <input class="input--style-6" type="text" id="heure_test" name="heure_test" value="" placeholder="10:00" autocomplete="false"/>
                  </div>
                </div>

                <div class="form-row">
                  <div class="name">Date du resultat : </div>
                  <div class="value">
                    <input class="input--style-6" type="text" id="date_resultat" name="date_resultat" value="" placeholder="10/04/2020" autocomplete="false"/>
                  </div>
                </div>

                <div class="form-row">
                  <div class="name">Heure du resultat : </div>
                  <div class="value">
                    <input class="input--style-6" type="text" id="heure_resultat" name="heure_resultat" value="" placeholder="10:00" autocomplete="false"/>
                  </div>
                </div>

                <div class="form-row">
                  <div class="name">Résultat : </div>
                  <div class="value">
                    <input style="width:10%;" type="radio" id="resultat" name="resultat" value="0"> Négatif <br/>
                    <input style="width:10%;" type="radio" id="resultat" name="resultat" value="1"> Positif 
                  </div>
                </div>

              </div>

              {% endif %}
          </div>

          {% if personne %}

          <div class="card-footer">
            <button class="btn btn--radius-2 btn--blue-2" id="btnvalid_test" value="Valider" type="submit">Valider</button>
          </div>

          {% endif %}

        </form>
  
        <br/>
        <!-- Liste -->
        <div class="card card-6">
          <div class="card-body">

            <div class="label-row">Liste de tests</div>
            <table width="100%">
              <thead>
                <td>ID</td>
                <td>Nom & prenom</td>
                <td>Date & heure test</td>
                <td>Date & heure resultat</td>
                <td>Cas suspect ?</td>
                <td>Résultat</td>
                <td>Gu&eacute;ri?</td>
                <td></td>
                <td></td>
              </thead>
              <tbody>
                {% if tests %}
                  {% for r in tests %}
                    <tr>
                      <td>{{ r.id }}</td>
                      <td>{{ r.p_nom + ' ' + r.p_prenom }}</td>
                      <td>{{ r.date_test + ' ' + r.heure_test }}</td>
                      <td>{{ r.date_resultat + ' ' + r.heure_resultat }}</td>
                      <td>{{ r.p_suspect }}</td>
                      <td>
                        {% if r.date_resultat %}
                          {% if r.resultat == '1' %} Positif
                          {% else %} Négatif
                          {% endif %}
                        {% endif %}
                      </td>
                      <td>
                        {% if r.date_resultat %}
                          {% if r.resultat == '1' %}
                            {% if r.p_gueri == '' or r.p_gueri == None %} <a href="personnes/guerison/{{ r.p_id }}">Gu&eacute;rison</a>
                            {% else %} {{ r.p_gueri }}
                            {% endif %} 
                          {% else %} Pas besoin !
                          {% endif %}
                        {% endif %}
                      </td>
                      <td><a href="crp?personne={{ r.p_id }}">Relations</a></td>
                      <td><a href="javascript:;" onclick="javascript:confirm_delete('tests/delete/{{ r.id }}');">Supprimer</a></td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr><td colspan="8">No result!</td></tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>