<!DOCTYPE html>
<html>
 
  <head>
    {% include 'inc/header.html' %}
  </head>
 
  <body>

    <div class="page-wrapper bg-dark p-t-100 p-b-50">
      <div class="wrapper wrapper--w900">
        
        <form action="/personnes/guerison" method="POST" onsubmit="return validate_form_personne_guerison();">

          <div class="card card-6">
            <div class="card-heading">
              <!-- CORPS DE LA PAGE  -->
              {% include 'inc/header_menu.html' %}
            </div>
            <div class="card-body">
              
              <div class="label-row">Gu&eacute;rison de personne </div>
              
              {% if error %}
                <div style="color:red;">{{ error }}</div>
              {% endif %}
            
              <div class="form-row">
                <div class="name">Personne : </div>
                <div  class="input--style-6">{{ personne.nom + ' '+ personne.prenom }}
                  <input type="hidden" id="personne_id" name="personne_id" value="{{ personne.id }}" />
                </div>
              </div>

              <div class="form-row">
                <div class="name">Date de gu&eacute;rison :</div>
                <div class="value">
                  <input class="input--style-6" type="text" id="date_guerison" name="date_guerison" value="{{ date_guerison }}" placeholder="10/04/2020" autocomplete="false">
                </div>
              </div> 

              <div class="form-row">
                <div class="name">Gu&eacute;rison : </div>
                <div class="value">
                  {% for gt in guerison_types %}
                    <input style="width:5%;" type="radio" name="guerison_type_id" value="{{ gt.id }}"> {{ gt.libelle }} <br/>
                  {% endfor %}
                </div>
              </div>

              <div class="form-row">
                <div class="name">Conditions de la gu&eacute;rison : </div>
                <div class="value">
                    <input style="width:5%;" type="checkbox" id="has_been_isole" name="has_been_isole" value="oui" autocomplete="false"> Etait en isolation? &nbsp;<br/>
                    <input style="width:5%;" type="checkbox" id="has_been_sous_oxygene" name="has_been_sous_oxygene" value="oui" autocomplete="false"> Etait sous oxyg&egrave;ne? &nbsp;<br/>
                    <input style="width:5%;" type="checkbox" id="has_been_sous_antibiotique" name="has_been_sous_antibiotique" value="oui" autocomplete="false"> Etait sous anti-biotique? &nbsp;<br/>
                    <input style="width:5%;" type="checkbox" id="has_been_hospitalise" name="has_been_hospitalise" value="oui" autocomplete="false"> Etait hospitalis&eacute;? &nbsp;<br/>
                    <input style="width:5%;" type="checkbox" id="has_scanner_controle" name="has_scanner_controle" value="oui" autocomplete="false"> A fait un scanner de contr&ocirc;le? &nbsp;<br/>
                </div>
              </div>

            </div>
          </div>

          <div class="card-footer">
            <button class="btn btn--radius-2 btn--blue-2" id="btnvalid_gueri" type="submit">Valider</button>
          </div>

        </form>
        <br/>
 
        <!-- Liste -->

        <div class="card card-6">
          <div class="card-body">

            <div class="label-row">Liste de personnes gu&eacute;ris</div>
            
        
          </div>
        </div>

      </div>
    </div>

  </body>

</html>