<!DOCTYPE html>
<html>
 
  <head>
    {% include 'inc/header.html' %}
  </head>
 
  <body>
    
    <div class="page-wrapper bg-dark p-t-100 p-b-50">
      <div class="wrapper wrapper--w900">
        
        <form action="/personnes/viecondition" method="POST" onsubmit="return validate_form_pv_condition();">

          <div class="card card-6">
            <div class="card-heading">
              <!-- CORPS DE LA PAGE  -->
              {% include 'inc/header_menu.html' %}
            </div>

            <div class="card-body">
              <div class="label-row">Conditions de vie de personne </div>
              
              {% if error %}
                <div style="color:red;">{{ error }}</div>
              {% endif %}
            
              <div class="form-row">
                <div class="name">Personne : </div>
                <div  class="input--style-6">{{ personne.nom + ' '+ personne.prenom }}
                  <input type="hidden" id="personne_id" name="personne_id" value="{{ personne.id }}" />
                </div>
              </div>

              <div class="form-row">
                <div class="name"></div>
                <div class="value">
                    <input style="width:5%;" type="checkbox" id="is_en_couple" name="is_en_couple" value="oui" autocomplete="false"> En couple? &nbsp;
                </div>
              </div>

              <div class="form-row">
                <div class="name"></div>
                <div class="value">
                  <input style="width:5%;" type="checkbox" id="has_enfant" name="has_enfant" value="oui" autocomplete="false"> A des enfants? &nbsp;
                  <span id="exist_enfant" style="display:none;">
                    <label class="name">Nb d'enfants : </label> 
                    <input class="input--style-6" style="width:10%;" type="text" id="nb_enfant" name="nb_enfant" value="" placeholder="0" autocomplete="false">
                  </span>
                </div>
              </div> 

              <div class="form-row">
                <div class="name"></div>
                <div class="value">
                  <input style="width:5%;" type="checkbox" id="has_personne_agee" name="has_personne_agee" value="oui" autocomplete="false"> Vit avec personnes &acirc;g&eacute;es? &nbsp;
                  <span id="exist_personne_agee" style="display:none;">
                    <label class="name">Nb de personnes &acirc;g&eacute;es : </label> 
                    <input class="input--style-6" style="width:10%;" type="text" id="nb_personne_agee" name="nb_personne_agee" value="" placeholder="0" autocomplete="false">
                  </span>
                </div>
              </div>
               
              <div class="form-row">
                <div class="name"></div>
                <div class="value">
                    <input style="width:5%;" type="checkbox" id="has_possibilite_isolement" name="has_possibilite_isolement" value="oui" autocomplete="false"> A une possiblit&eacute; de s'isoler? &nbsp;
                </div>
              </div>

              <div class="form-row">
                <div class="name"></div>
                <div class="value">
                    <input style="width:5%;" type="checkbox" id="has_been_in_contact_personne_risque" name="has_been_in_contact_personne_risque" value="oui" autocomplete="false"> A &eacute;t&eacute; en contact avec personne &agrave; risque? &nbsp;
                </div>
              </div>

              <div id="new_personne" style="display:none;">
                <div class="form-row">
                  <div class="name">Nature du contact : </div>
                  <div class="value">
                    <select class="select-input" id="relation_id" name="relation_id">
                      <option value=""></option>
                      {% if relations %}
                        {% for r in relations %}
                          <option value="{{ r.id }}">{{ r.libelle }}</option>
                        {% endfor %}
                      {% endif %}
                    </select>
                  </div>
                </div>

                {% include 'inc/form_personne.html' %}

                <div class="label-row"><i>Moment du contact</i></div>
                <div class="form-row">
                  <div class="name">Date :</div>
                  <div class="value">
                    <input class="input--style-6" type="text" id="date_contact" name="date_contact" value="" placeholder="10/04/2020" autocomplete="false">
                  </div>
                </div> 
                <div class="form-row">
                  <div class="name">Heure :</div>
                  <div class="value">
                    <input class="input--style-6" type="text" id="heure_contact" name="heure_contact" value="" placeholder="10:01" autocomplete="false">
                  </div>
                </div>  
              </div>

            </div>
          </div>

          <div class="card-footer">
            <button class="btn btn--radius-2 btn--blue-2" id="btnvalid_pvc" type="submit">Valider</button>
          </div>

        </form>

        <br/>
        <!-- Liste -->
        <div class="card card-6">
          <div class="card-body">

            <div class="label-row">Liste de consultation de {{ personne.nom }}</div>
            <table width="100%">
              <thead>
                <td>ID</td>
                <td>Vis en couple?</td>
                <td>Nb d'enfant</td>
                <td>Nb de pers. &acirc;g&eacute;es</td>
                <td>Poss. d'isolement</td>
                <td></td>
                <td></td>
                <td></td>
              </thead>
              <tbody>
                {% if pvconditions %}
                  {% for pvc in pvconditions %}
                    <tr>
                      <td>{{ pvc.id }}</td>
                      <td>{{ pvc.is_en_couple }}</td>
                      <td>{{ pvc.nb_enfant }}</td>
                      <td>{{ pvc.nb_personne_agee }}</td>
                      <td>{{ pvc.has_possibilite_isolement }}</td>
                      <td>&nbsp;<a href="/personnes/consultation/{{ pvc.personne_id }}" title="consultation">Consultation</a>&nbsp;</td>
                      <td>&nbsp;<a href="/personnes/diagnostic/{{ pvc.personne_id }}" title="diagnostic">Diagnostic</a></td>
                      <td>&nbsp;<a href="javascript:;" title="supprimer" onclick="javascript:confirm_delete('/personnes/viecondition/delete/{{ pvc.id }}')">Supprimer</a>&nbsp;</td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr><td colspan="6">Aucune donn&eacute;e!!</td></tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>

      </div>

    </div>
    <script type="text/javascript">
      /*$(document).load(function () {
        if ($("#has_enfant").is(":checked")) {
          $("#exist_enfant").show();
        }

        if ($("#has_personne_agee").is(":checked")) {
          $("#exist_personne_agee").show();
        }
      });*/
    </script>
  </body>

</html>
