<!DOCTYPE html>
<html>
 
  <head>
    {% include 'inc/header.html' %}
  </head>
 
  <body>
    
    <div class="page-wrapper bg-dark p-t-100 p-b-50">
      <div class="wrapper wrapper--w900">
        
        <form action="/personnes/consultation" method="POST" onsubmit="return validate_form_personne_consultation();">

          <div class="card card-6">
            <div class="card-heading">
              <!-- CORPS DE LA PAGE  -->
              {% include 'inc/header_menu.html' %}
            </div>

            <div class="card-body">
              <div class="label-row">Consultation de personne </div>
              
              {% if error %}
                <div style="color:red;">{{ error }}</div>
              {% endif %}
            
              <div class="form-row">
                <div class="name">Personne : </div>
                <div  class="input--style-6">{{ personne.nom + ' '+ personne.prenom }}
                  <input type="hidden" id="personne_id" name="personne_id" value="{{ personne.id }}" />
                </div>
              </div>

              <div class="form-row">
                  <div class="name">Type de consultation : </div>
                  <div class="value">
                    {% for tc in type_consultations %}
                      <input style="width:5%;" type="radio" id="type_consultation_id" name="type_consultation_id" value="{{ tc.id }}"> {{ tc.libelle }} <br/>
                    {% endfor %}
                  </div>
                </div>

              <div class="form-row">
                <div class="name">Date :</div>
                <div class="value">
                  <input class="input--style-6" type="text" id="date_consultation" name="date_consultation" value="{{ date_consultation }}" placeholder="10/04/2020" autocomplete="false">
                </div>
              </div> 

              <div class="form-row">
                <div class="name">Heure :</div>
                <div class="value">
                  <input class="input--style-6" type="text" id="heure_contact" name="heure_consultation" value="{{ heure_consultation }}" placeholder="10:01" autocomplete="false">
                </div>
              </div>  

            </div>
          </div>

          <div class="card-footer">
            <button class="btn btn--radius-2 btn--blue-2" id="btnvalid_pc" type="submit">Valider</button>
          </div>

        </form>

        <br/>
        <!-- Liste -->
        <div class="card card-6">
          <div class="card-body">

            <div class="label-row">Liste de consultation de {{ personne.nom }}</div>
            <table width="100%">
              <thead>
                <td>ID</td>
                <td>Date & heure consultation</td>
                <td>Type consultation</td>
                <td width="34%"></td>
              </thead>
              <tbody>
                {% if pconsultations %}
                  {% for pc in pconsultations %}
                    <tr>
                      <td>{{ pc.id }}</td>
                      <td>{{ pc.date_consultation + ' ' + pc.heure_consultation }}</td>
                      <td>{{ pc.type_consultation_lib }}</td>
                      <td>
                        &nbsp;<a href="/crp?personne={{ pc.id }}" title="personnes avec qui un contact a été fait"><img src="{{ url_for('static', filename='icones/contacts.png') }}" /></a>&nbsp;
                        &nbsp;<a href="/personnes/consultation?personne={{ pc.id }}" title="consultation"><img src="{{ url_for('static', filename='icones/consultation.png') }}" /></a>&nbsp;
                        &nbsp;<a href="/personnes/viecondition?personne={{ pc.id }}" title="conditions de vie"><img src="{{ url_for('static', filename='icones/cond-vie.png') }}" /></a>&nbsp;
                        &nbsp;<a href="/personnes/diagnostic?personne={{ pc.id }}" title="diagnostic"><img src="{{ url_for('static', filename='icones/diagnostic.png') }}" /></a>&nbsp;
                        &nbsp;<a href="/tests?personne={{ pc.id }}" title="test"><img src="{{ url_for('static', filename='icones/test.png') }}" /></a>&nbsp;
                        &nbsp;<a href="javascript:;" title="supprimer" onclick="javascript:confirm_delete('/personnes/consultation/delete/{{ pc.id }}?personne={{ pc.personne_id }}')"><img src="{{ url_for('static', filename='icones/supprimer.png') }}" /></a>&nbsp;
                      </td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr><td colspan="4">Aucune donn&eacute;e!!</td></tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>

      </div>

    </div>

  </body>

</html>
