<h3>Bienvenue sur Epidemic notifier</h3>
    <div>
		<a href="/">Accueil</a>&nbsp;&nbsp;
        <a href="/db">Database</a>&nbsp;&nbsp;
        <a href="/relations">Relations</a>&nbsp;&nbsp;
        <a href="/personnes">Personnes</a>&nbsp;&nbsp;
        <a href="/personnes/graph">Graphe personnes</a>&nbsp;&nbsp;
        <a href="/tests">Test</a>&nbsp;&nbsp;
        <a href="/notifications">Notifications</a>&nbsp;&nbsp;
        {% if current_user.is_authenticated %}
            <!-- <p>Hi {{ current_user.name }}!</p> -->
            <a href="{{ url_for('main_bp.logout') }}">Me d&eacute;connecter</a>
        {% endif %}
    </div>
    <br/>