<table width="100%">
  <thead>
    <tr>
      <td>ID</td>
      <td>Nom</td>
      <td>Prénom</td>
      <td>Date de naissance</td>
      <td>Numéro de téléphone</td>
      <td>@mail</td>
      <td>cas suspect?</td>
      <td>Pr&eacute;sente signe?</td>
      <td>NB contact</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    {% if personnes %}
      {% for p in personnes %}
        <tr>
          <td>{{ p.id }}</td>
          <td>{{ p.nom }}</td>
          <td>{{ p.prenom }}</td>
          <td>{{ p.date_naiss }}</td>
          <td>{{ p.num_telephone }}</td>
          <td>{{ p.email }}</td>
          <td>{{ p.suspect }}</td>
          <td>{{ p.presente_signe }}</td>
          <td>{{ p.nb_contact }}</td>
          <td width="34%">
            &nbsp;<a href="/crp?personne={{ p.id }}" title="personnes avec qui un contact a été fait"><img src="{{ url_for('static', filename='icones/contacts.png') }}" /></a>&nbsp;
            &nbsp;<a href="/personnes/consultation?personne={{ p.id }}" title="consultation"><img src="{{ url_for('static', filename='icones/consultation.png') }}" /></a>&nbsp;
            &nbsp;<a href="/personnes/viecondition?personne={{ p.id }}" title="conditions de vie"><img src="{{ url_for('static', filename='icones/cond-vie.png') }}" /></a>&nbsp;
            &nbsp;<a href="/personnes/diagnostic?personne={{ p.id }}" title="diagnostic"><img src="{{ url_for('static', filename='icones/diagnostic.png') }}" /></a>&nbsp;
            &nbsp;<a href="/tests?personne={{ p.id }}" title="test"><img src="{{ url_for('static', filename='icones/test.png') }}" /></a>&nbsp;
            &nbsp;<a href="javascript:;" title="supprimer" onclick="javascript:confirm_delete('/personnes/delete/{{ p.id }}')"><img src="{{ url_for('static', filename='icones/supprimer.png') }}" /></a>&nbsp;
          </td>
        </tr>
      {% endfor %}
    {% else %}
      <tr><td colspan="10">Aucune donn&eacute;e!!</td></tr>
    {% endif %}
  </tbody>
</table>
