<!DOCTYPE html>
<html>
 
  <head>
    {% include 'inc/header.html' %}
  </head>
 
  <body>
 
    <!-- CORPS DE LA PAGE  -->
    {% include 'inc/header_menu.html' %}
    
    Notifier les personnes enregistrées !
    <form method="POST">
    	<input type="button" id="btnnotif" name="btnnotif" value="Commencer" onclick="javascript:return confirm('Etes-vous sûr?');" />
    </form>

    <div id="box_searching" style="display: none;"></div>
 
    <table width="100%">
      <thead>
        <td>ID</td>
        <td>Date</td>
        <td>Heure</td>
        <td>Nb notifiés</td>
        <td></td>
      </thead>
      <tbody>
        {% if notifications %}
          {% for n in notifications %}
            <tr>
              <td>{{ n.id }}</td>
              <td>{{ n.date_ }}</td>
              <td>{{ n.heure_ }}</td>
              <td><a href="notifications/{{ n.id }}" title="Nombre de personnes notifiées">{{ n.nb_notifies }}</a></td>
              <td><a href="notifications/delete/{{ n.id }}" onclick="javascript:return confirm('Etes-vous sûr?');">Supprimer</a></td>
            </tr>
          {% endfor %}
        {% else %}
          <tr><td colspan="5">No result!</td></tr>
        {% endif %}
      </tbody>
  </body>

</html>