<!DOCTYPE html>
<html>
 
  <head>
    {% include 'inc/header.html' %}
  </head>
 
  <body>

    <div class="page-wrapper bg-dark p-t-100 p-b-50">
      <div class="wrapper wrapper--w900">
        
        <form action="/relations" method="POST" onsubmit="return validate_form_relation();">

          <div class="card card-6">
            <div class="card-heading">
              <!-- CORPS DE LA PAGE  -->
              {% include 'inc/header_menu.html' %}
            </div>
            <div class="card-body">
              
              <div class="label-row">Ajout de relation: </div>
              
              {% if error %}
                <div style="color:red;">{{ error }}</div>
              {% endif %}
            
              <div class="form-row">
                <div class="name">Libell&eacute;</div>
                <div class="value">
                  <input class="input--style-6" type="text" id="libelle" name="libelle" value="" placeholder="Nom de la personne" size="32" autocomplete="false">
                </div>
              </div>
              
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn--radius-2 btn--blue-2" id="btnvalid_relation" type="submit">Valider</button>
          </div>

        </form>
        
        <br/>
        <!-- Liste -->
        <div class="card card-6">
          <div class="card-body">

            <div class="label-row">Liste de relations</div>

            <table width="100%">
              <thead>
                <td>ID</td>
                <td>Libelle</td>
                <td></td>
              </thead>
              <tbody>
                {% if relations %}
                  {% for r in relations %}
                    <tr>
                      <td>{{ r.id }}</td>
                      <td>{{ r.libelle }}</td>
                      <td><a href="javascript:;" onclick="javascript:confirm_delete('relations/delete/{{ r.id }}');">Supprimer</td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr><td colspan="7">No result!</td></tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div> 
 
  </body>

</html>
