<div class="row"><i>Personne : </i></div>
<div class="row">
        <label>Nom : </label><input type="text" id="nom" name="nom" value="" placeholder="Nom de la personne" autocomplete="false">
      </div>
      <div class="row">
        <label>Prenom : </label><input type="text" id="prenom" name="prenom" value="" placeholder="Prenom de la personne" autocomplete="false">
      </div>
      <div class="row">
        <label>Date de naissance</label><input type="text" id="date_naiss" name="date_naiss" value="" placeholder="01/01/1971" autocomplete="false">
      </div>
      <div class="row">
        <label>Num. de telephone</label><input type="text" id="num_telephone" name="num_telephone" value="" placeholder="+237 6 97 69 64 97" autocomplete="false">
      </div>
      <div class="row">
        <label>@mail</label><input type="text" id="" name="email" value="" placeholder="personne@personne.com" autocomplete="false">
      </div>