<table width="100%">
      <thead>
        <td>ID</td>
        <td>Nom</td>
        <td>Prénom</td>
        <td>Date de naissance</td>
        <td>Numéro de téléphone</td>
        <td>@mail</td>
        <td>cas suspect?</td>
        <td>NB contact</td>
        <td></td>
        <td></td>
        <td></td>
      </thead>
      <tbody>
        {% if personnes %}
          {% for p in personnes %}
            <tr>
              <td>{{ p.id }}</td>
              <td>{{ p.nom }}</td>
              <td>{{ p.prenom }}</td>
              <td>{{ p.date_naiss }}</td>
              <td>{{ p.num_telephone }}</td>
              <td>{{ p.email }}</td>
              <td>{{ p.suspect }}</td>
              <td>{{ p.nb_contact }}</td>
              <td>&nbsp;<a href="crp?personne={{ p.id }}">Relations</a>&nbsp;</td>
              <td>&nbsp;<a href="tests?personne={{ p.id }}">Test</a>&nbsp;</td>
              <td>&nbsp;<a href="javascript:;" onclick="javascript:confirm_delete('personnes/delete/{{ p.id }}')">Supprimer</a>&nbsp;</td>
            </tr>
          {% endfor %}
        {% else %}
          <tr><td colspan="8">No result!</td></tr>
        {% endif %}
      </tbody>
    </table>